mixin subscription()

  article.s-subscription
    .s-subscription__inner
      .s-subscription__intro
        h3.s-subscription__title Подписаться на еженедельную рассылку Betsmania
        p.s-subscription__desc Куда отправлять наши прогнозы и полезную информацию о ставках?
      ul.s-subscription__list
        li.s-subscription__item.s-subscription__item--vkontakte
          figure.s-subscription__figure
            .s-subscription__cover
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 548.358 548.358', width='55', height='55')
                path(d='M545.451 400.298c-.664-1.431-1.283-2.618-1.858-3.569-9.514-17.135-27.695-38.167-54.532-63.102l-.567-.571-.284-.28-.287-.287h-.288c-12.18-11.611-19.893-19.418-23.123-23.415-5.91-7.614-7.234-15.321-4.004-23.13 2.282-5.9 10.854-18.36 25.696-37.397 7.807-10.089 13.99-18.175 18.556-24.267 32.931-43.78 47.208-71.756 42.828-83.939l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712-4.764-1.427-10.853-1.663-18.278-.712l-82.224.568c-1.332-.472-3.234-.428-5.712.144-2.475.572-3.713.859-3.713.859l-1.431.715-1.136.859c-.952.568-1.999 1.567-3.142 2.995-1.137 1.423-2.088 3.093-2.848 4.996-8.952 23.031-19.13 44.444-30.553 64.238-7.043 11.803-13.511 22.032-19.418 30.693-5.899 8.658-10.848 15.037-14.842 19.126-4 4.093-7.61 7.372-10.852 9.849-3.237 2.478-5.708 3.525-7.419 3.142-1.715-.383-3.33-.763-4.859-1.143-2.663-1.714-4.805-4.045-6.42-6.995-1.622-2.95-2.714-6.663-3.285-11.136-.568-4.476-.904-8.326-1-11.563-.089-3.233-.048-7.806.145-13.706.198-5.903.287-9.897.287-11.991 0-7.234.141-15.085.424-23.555.288-8.47.521-15.181.716-20.125.194-4.949.284-10.185.284-15.705s-.336-9.849-1-12.991c-.656-3.138-1.663-6.184-2.99-9.137-1.335-2.95-3.289-5.232-5.853-6.852-2.569-1.618-5.763-2.902-9.564-3.856-10.089-2.283-22.936-3.518-38.547-3.71-35.401-.38-58.148 1.906-68.236 6.855-3.997 2.091-7.614 4.948-10.848 8.562-3.427 4.189-3.905 6.475-1.431 6.851 11.422 1.711 19.508 5.804 24.267 12.275l1.715 3.429c1.334 2.474 2.666 6.854 3.999 13.134 1.331 6.28 2.19 13.227 2.568 20.837.95 13.897.95 25.793 0 35.689-.953 9.9-1.853 17.607-2.712 23.127-.859 5.52-2.143 9.993-3.855 13.418-1.715 3.426-2.856 5.52-3.428 6.28-.571.76-1.047 1.239-1.425 1.427-2.474.948-5.047 1.431-7.71 1.431-2.667 0-5.901-1.334-9.707-4-3.805-2.666-7.754-6.328-11.847-10.992-4.093-4.665-8.709-11.184-13.85-19.558-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267-4.952-10.185-9.329-20.037-13.134-29.554-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-.859c-.95-.76-2.475-1.567-4.567-2.427-2.095-.859-4.281-1.475-6.567-1.854l-78.229.568c-7.994 0-13.418 1.811-16.274 5.428l-1.143 1.711c-.571.953-.859 2.475-.859 4.57 0 2.094.571 4.664 1.714 7.707 11.42 26.84 23.839 52.725 37.257 77.659 13.418 24.934 25.078 45.019 34.973 60.237 9.897 15.229 19.985 29.602 30.264 43.112 10.279 13.515 17.083 22.176 20.412 25.981 3.333 3.812 5.951 6.662 7.854 8.565l7.139 6.851c4.568 4.569 11.276 10.041 20.127 16.416 8.853 6.379 18.654 12.659 29.408 18.85 10.756 6.181 23.269 11.225 37.546 15.126 14.275 3.905 28.169 5.472 41.684 4.716h32.834c6.659-.575 11.704-2.669 15.133-6.283l1.136-1.431c.764-1.136 1.479-2.901 2.139-5.276.668-2.379 1-5 1-7.851-.195-8.183.428-15.558 1.852-22.124 1.423-6.564 3.045-11.513 4.859-14.846 1.813-3.33 3.859-6.14 6.136-8.418 2.282-2.283 3.908-3.666 4.862-4.142.948-.479 1.705-.804 2.276-.999 4.568-1.522 9.944-.048 16.136 4.429 6.187 4.473 11.99 9.996 17.418 16.56 5.425 6.57 11.943 13.941 19.555 22.124 7.617 8.186 14.277 14.271 19.985 18.274l5.708 3.426c3.812 2.286 8.761 4.38 14.853 6.283 6.081 1.902 11.409 2.378 15.984 1.427l73.087-1.14c7.229 0 12.854-1.197 16.844-3.572 3.998-2.379 6.373-5 7.139-7.851.764-2.854.805-6.092.145-9.712-.677-3.611-1.344-6.136-2.008-7.563z')
            figcaption.s-subscription__caption vkontakte
          a.s-subscription__action(href='/', target='_blank', rel='noopener')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', width='30', heifht='30')
              path(d='M506.134 241.843c-.006-.006-.011-.013-.018-.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792 7.829-7.762 20.492.067 28.284L443.558 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h423.557l-70.162 69.824c-7.829 7.792-7.859 20.455-.067 28.284 7.793 7.831 20.457 7.858 28.285.068l104.504-104c.006-.006.011-.013.018-.019 7.833-7.818 7.808-20.522-.001-28.314z')
        li.s-subscription__item.s-subscription__item--facebook
          figure.s-subscription__figure
            .s-subscription__cover
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 430.113 430.114', width='55', height='55')
                path(d='M158.081 83.3v59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805s5.601-34.721 8.316-72.685H247.54V92.74c0-7.4 9.717-17.354 19.321-17.354h48.557V.001h-66.021C155.878-.004 158.081 72.48 158.081 83.3z')
            figcaption.s-subscription__caption facebook
          a.s-subscription__action(href='/', target='_blank', rel='noopener')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', width='30', heifht='30')
              path(d='M506.134 241.843c-.006-.006-.011-.013-.018-.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792 7.829-7.762 20.492.067 28.284L443.558 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h423.557l-70.162 69.824c-7.829 7.792-7.859 20.455-.067 28.284 7.793 7.831 20.457 7.858 28.285.068l104.504-104c.006-.006.011-.013.018-.019 7.833-7.818 7.808-20.522-.001-28.314z')
        li.s-subscription__item.s-subscription__item--e-mail
          figure.s-subscription__figure
            .s-subscription__cover
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 235.065 235.065', width='55', height='55')
                path(d='M156.019 58.832h18.025l-12.358 69.772c-1.376 8.066-1.42 13.908-.131 17.514 1.289 3.595 4.166 5.401 8.626 5.401s8.838-1.028 13.13-3.089c4.291-2.061 8.148-5.232 11.585-9.524s6.222-9.692 8.371-16.214c2.143-6.521 3.22-14.245 3.22-23.176 0-12.874-2.154-23.861-6.44-32.955-4.291-9.094-10.171-16.611-17.633-22.529-7.468-5.929-16.268-10.258-26.396-13.005s-21.022-4.128-32.7-4.128c-13.386 0-25.83 2.404-37.328 7.212-11.498 4.814-21.495 11.422-29.996 19.825-8.496 8.414-15.148 18.411-19.95 30.002-4.808 11.58-7.207 24.149-7.207 37.714 0 13.391 2.012 25.4 6.043 36.045 4.036 10.65 9.915 19.695 17.639 27.168 7.723 7.462 17.291 13.212 28.702 17.242 11.411 4.03 24.503 6.048 39.27 6.048 4.971 0 10.633-.598 16.986-1.795 6.353-1.207 12.102-3.008 17.253-5.412l7.979 24.721c-7.038 3.432-14.201 5.831-21.495 7.201-7.299 1.376-15.665 2.067-25.101 2.067-16.649 0-32.058-2.41-46.216-7.207-14.163-4.814-26.428-11.933-36.812-21.37-10.389-9.442-18.498-21.158-24.34-35.147C2.915 157.23 0 141.049 0 122.686c0-18.71 3.345-35.62 10.046-50.725 6.69-15.093 15.703-27.973 27.032-38.623 11.33-10.639 24.459-18.83 39.39-24.59 14.93-5.744 30.72-8.621 47.369-8.621 15.79 0 30.47 2.279 44.029 6.821 13.554 4.553 25.313 11.068 35.267 19.57 9.954 8.496 17.769 18.884 23.437 31.16 5.662 12.265 8.496 26.216 8.496 41.832 0 10.987-1.925 21.278-5.793 30.899-3.862 9.616-9.181 17.938-15.958 24.976-6.788 7.033-14.68 12.608-23.687 16.731-9.007 4.117-18.667 6.179-28.963 6.179-4.297 0-8.278-.468-11.977-1.414-3.688-.946-6.777-2.535-9.263-4.765-2.491-2.235-4.335-5.151-5.537-8.757-1.202-3.601-1.55-8.061-1.028-13.386h-1.028c-2.578 3.606-5.363 7.125-8.365 10.552-3.008 3.438-6.309 6.483-9.915 9.143-3.601 2.665-7.555 4.765-11.841 6.309-4.297 1.539-9.013 2.317-14.163 2.317-4.117 0-8.066-.903-11.841-2.698-3.78-1.806-7.044-4.34-9.785-7.598-2.752-3.258-4.939-7.207-6.565-11.846-1.637-4.634-2.448-9.785-2.448-15.447 0-10.639 1.713-20.984 5.145-31.024 3.432-10.046 8.115-18.923 14.033-26.646s12.787-13.94 20.598-18.667c7.811-4.716 16.094-7.076 24.84-7.076 6.005 0 11.074.897 15.191 2.698 4.123 1.806 7.892 4.166 11.33 7.087l7.973-8.245zm-16.224 31.16c-2.23-1.893-4.547-3.35-6.946-4.378-2.404-1.033-5.406-1.545-9.013-1.545-5.145 0-9.91 1.458-14.283 4.378-4.378 2.915-8.159 6.685-11.33 11.324-3.182 4.634-5.624 9.834-7.343 15.572-1.713 5.76-2.578 11.379-2.578 16.867 0 5.667 1.159 10.307 3.481 13.913 2.317 3.595 6.304 5.401 11.966 5.401 2.404 0 4.982-.729 7.723-2.181 2.752-1.463 5.406-3.394 7.99-5.798 2.573-2.399 5.058-5.151 7.462-8.235 2.404-3.095 4.547-6.353 6.44-9.785l6.431-35.533z')
            figcaption.s-subscription__caption e–mail
          a.s-subscription__action(href='/', target='_blank', rel='noopener')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', width='30', heifht='30')
              path(d='M506.134 241.843c-.006-.006-.011-.013-.018-.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285.068-7.792 7.829-7.762 20.492.067 28.284L443.558 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h423.557l-70.162 69.824c-7.829 7.792-7.859 20.455-.067 28.284 7.793 7.831 20.457 7.858 28.285.068l104.504-104c.006-.006.011-.013.018-.019 7.833-7.818 7.808-20.522-.001-28.314z')
