.s-subscription {
  padding: 1rem;

  @media (min-width: $screen-sm) {
    padding: 3rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
    border: 5px solid currentColor;
    padding: 1rem;

    @media (min-width: $screen-md) {
      border: 20px solid currentColor;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 3rem;
      align-items: center;
    }
  }

  &__intro {
    text-transform: uppercase;
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      flex: 0 0 40%;
      max-width: 40%;
      margin-right: 10%;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1.875rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    font-size: 1.125rem;
    line-height: 1.25rem;

    @media (min-width: $screen-md) {
      font-weight: 700;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 5px;
    grid-template:
      'vkontakte facebook e-mail'
      / 1fr 1fr 1fr
    ;

    @media (min-width: $screen-md) {
      flex: 0 0 50%;
      max-width: 50%;
      grid-gap: 15px;
      grid-template:
        'vkontakte facebook e-mail'
        / 1fr 1fr 1fr
      ;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.025em;
    text-align: center;
    padding: 0.25rem 0.25rem 1rem 0.25rem;

    @media (min-width: $screen-sm) {
      padding: 1rem 1rem 2rem 1rem;
    }

    &--vkontakte {
      background-color: #4a76a8;
      grid-area: vkontakte;
    }

    &--facebook {
      background-color: #345799;
      grid-area: facebook;
    }

    &--e-mail {
      background-color: #168de2;
      grid-area: e-mail;
    }
  }

  &__figure {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__cover {
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > svg {
      max-width: 70%;
      display: block;
      vertical-align: middle;
      fill: currentColor;
    }
  }

  &__action {
    display: block;
    color: currentColor;
    padding: 0 1rem;
    transition: all 0.25s cubic-bezier(0.8,0,0,1);
    border: 1px solid currentColor;
    border-radius: 115px;
    width: 90%;
    max-width: 115px;
    margin: auto;

    @media (min-width: $screen-sm) {
      padding: 0.25rem 1rem;
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: $text-color;
      border: 1px solid #fff;
    }
  }
}