mixin main-nav()

  //- Usage:
    +main-nav()

  nav.s-main-nav&attributes(attributes)
    ul.s-main-nav__list
      li
        a(href='/') Школа ставок
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Прогнозы
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Ставки на спорт
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Бонусы
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Обучение
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Рубрики
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Новичку