.s-main-nav {
  font-size: 0.875rem;
  line-height: 1.5rem;
  z-index: 100;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  @media (max-width: ($screen-md - 1)) {
    font-size: 0.75rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    > li {
      margin: 0;
      padding: 0;
      position: relative;

      &:hover,
      &:focus-within {

        > a {
          text-decoration: none;
        }

        > ul {

          @media (min-width: $screen-md) {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
      }

      > a {
        display: block;
        color: currentColor;
        position: relative;
        padding: 1rem 2rem 1rem 1rem;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;

        @media (max-width: ($screen-md - 1)) {
          padding: 0.75rem 1.5rem 0.75rem 0.75rem;
        }

        &::after {
          position: absolute;
          content: '';
          right: 0.75rem;
          top: 50%;
          width: 0.4rem;
          height: 0.4rem;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          transform: translateY(-70%) rotate(45deg);

          @media (max-width: ($screen-md - 1)) {
            right: 0.5rem;
            width: 0.25rem;
            height: 0.25rem;
            transform: translateY(-80%) rotate(45deg);
          }
        }
      }

      > ul {
        background-color: $white;
        color: currentColor;
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        min-width: 15rem;
        left: -1rem;
        top: 100%;
        margin: 0;
        box-shadow: 0 0.125rem 0.5rem rgba(#000, 0.1);
        z-index: 100;

        &:hover,
        &:focus-within {

          @media (min-width: $screen-md) {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }

        > li {
          margin: 0;
          padding: 0;

          &::before {
            display: none;
          }

          > a {
            display: block;
            color: currentColor;
            padding: 0.5rem 0.75rem;
          }
        }
      }
    }
  }
}
