.s-article-card {
  display: flex;
  position: relative;
  padding: 1rem;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    text-decoration: none;

    .s-article-card__inner {
      background-color: #fff;
      color: $text-color;
    }
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.75);
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.8,0,0,1);
  }

  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: currentColor;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__label {
    font-size: 0.75rem;
    line-height: 1.5rem;
    opacity: 0.75;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 400;
  }
}