mixin article-card(title, label, image)

  a.s-article-card(href='/')
    .s-article-card__cover
      img(src=image, alt='')
    .s-article-card__inner
      h3.s-article-card__title #{title}
      span.s-article-card__label #{label}