.s-pagination {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__list {
    list-style-type: none;
    display: inline-block;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    text-align: center;
    float: left;
    vertical-align: bottom;

    a,
    span {
      padding: 0.75rem 1rem;
      display: inline-block;
      line-height: 1.2em;
      color: currentColor;
      position: relative;
      min-width: 2.25rem;
      transition: all 0.25s cubic-bezier(0.8,0,0,1);

      &:hover,
      &:focus {
        text-decoration: none;
        opacity: 1;

        > svg {
          transform: scale(1.25);
          transition: all 0.25s cubic-bezier(0.8,0,0,1);
        }
      }

      @media (min-width: $screen-sm) {
        min-width: 3rem;
      }
    }

    &:not(.s-pagination__item--prev):not(.s-pagination__item--next) {

      a {
        opacity: 0.5;
      }
    }

    &:not(.s-pagination__item--active):hover {

      a {
        opacity: 1;
      }
    }

    &--prev {

      a {

        svg {
          transform: rotate3d(0,0,1,180deg);
        }

        &:hover,
        &:focus {

          svg {
            transform: rotate3d(0,0,1,180deg) scale(1.25);
          }
        }
      }
    }

    &--active {

      a,
      span {
        opacity: 1;
      }
    }
  }
}