mixin pagination(mods)

  //- Param:
    mods {string} - modifiers

  //- Use:
    +pagination()
      +pagination-item('1', '/1')
      +pagination-item('...')
      +pagination-item('4', '/4')
      +pagination-item('5', '/5', true)
      +pagination-item('6', '/6')
      +pagination-item('...')
      +pagination-item('999', '/999')

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination--' + modsList[i].trim();
      }
    }

  .s-pagination(class=allMods, aria-label='Page navigation')&attributes(attributes)
    ul.s-pagination__list
      block



mixin pagination-item(text, href, active, prev, next)


  //- Declaration:
  //-   text   {string} - text
  //-   href   {string} - link
  //-   mods   {string} - modifiers
  //-   active {bool}   - active

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-pagination__item--' + modsList[i].trim();
      }
    }

    if(typeof(active) !== 'undefined' && active) {
      allMods = allMods + 's-pagination__item--active';
    }

  if(typeof(href) !== 'undefined' && href)

    if next
      li.s-pagination__item.s-pagination__item--next(class=allMods)
        a(href=href)&attributes(attributes)
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', width='16', height-'16')
            path(d='M491.318 235.318H20.682C9.26 235.318 0 244.578 0 256c0 11.423 9.26 20.682 20.682 20.682h470.636c11.423 0 20.682-9.259 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682z')
            path(d='M505.942 241.375L329.454 64.887c-8.077-8.076-21.172-8.076-29.249 0-8.076 8.077-8.076 21.172 0 29.249L462.069 256 300.205 417.863c-8.076 8.077-8.076 21.172 0 29.249 4.038 4.039 9.332 6.058 14.625 6.058 5.293 0 10.587-2.019 14.625-6.058l176.488-176.488c8.076-8.077 8.076-21.172-.001-29.249z')


    else if prev
      li.s-pagination__item.s-pagination__item--prev(class=allMods)
        a(href=href)&attributes(attributes)
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', width='16', height-'16')
            path( d='M491.318 235.318H20.682C9.26 235.318 0 244.578 0 256c0 11.423 9.26 20.682 20.682 20.682h470.636c11.423 0 20.682-9.259 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682z')
            path(d='M505.942 241.375L329.454 64.887c-8.077-8.076-21.172-8.076-29.249 0-8.076 8.077-8.076 21.172 0 29.249L462.069 256 300.205 417.863c-8.076 8.077-8.076 21.172 0 29.249 4.038 4.039 9.332 6.058 14.625 6.058 5.293 0 10.587-2.019 14.625-6.058l176.488-176.488c8.076-8.077 8.076-21.172-.001-29.249z')

    else
      li.s-pagination__item(class=allMods)
        a(href=href)&attributes(attributes)!= text


  else
    li.s-pagination__item(class=allMods)
      span&attributes(attributes)!= text

