mixin subscription-advantages()

  .s-subscription-advantages
    section.s-subscription-advantages__section.s-subscription-advantages__section--gift
      h3.s-subscription-advantages__title Забери свой подарок
      ul.s-subscription-advantages__list
        li.s-subscription-advantages__item Бот прогнозов на футбол
        li.s-subscription-advantages__item На основе анализа многих факторов
        li.s-subscription-advantages__item Высокая доходность (от 81%)
        li.s-subscription-advantages__item Не требует установки
        li.s-subscription-advantages__item Доступ онлайн
      .s-subscription-advantages__action
        .s-subscription-advantages__cover(style='background-image: url("img/gift.png")')
        .s-subscription-advantages__action-inner
          p.s-subscription-advantages__desc Получи доступ к ежедневным прогнозам на футбол высокой проходимости и стабильно зарабатывай на ставках
          a.s-subscription-advantages__btn(href='/') Получить
    section.s-subscription-advantages__section.s-subscription-advantages__section--subscription
      h3.s-subscription-advantages__title Подпишись на полезную рассылку
      ul.s-subscription-advantages__list
        li.s-subscription-advantages__item Готовые прогнозы (слив дорогих подписок)
        li.s-subscription-advantages__item Инсайдерская информация
        li.s-subscription-advantages__item Стратегии и программы лоя ставок
        li.s-subscription-advantages__item Отборная статистика
        li.s-subscription-advantages__item Секретные материалы (не публикуется на сайте)
      .s-subscription-advantages__action
        .s-subscription-advantages__cover(style='background-image: url("img/subscription.png")')
        .s-subscription-advantages__action-inner
          p.s-subscription-advantages__desc Получай каждую неделю полезные и рабочие материалы для увеличения своей прибыли в ставках на спорт
          a.s-subscription-advantages__btn(href='/') Подписаться