.s-subscription-advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__section {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 1.5rem 1rem;
    color: #fff;

    @media (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: $screen-lg) {
      padding: 3rem;
    }

    &--gift {
      background-color: #282828;
    }

    &--subscription {
      background-color: #212121;
    }
  }

  &__title {
    color: #f5d000;
    text-transform: uppercase;
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  &__item {
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 1.5rem;
    text-transform: uppercase;

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0.4rem;
      left: -1.5rem;
      width: 0.9rem;
      height: 0.8rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 84'%3E%3Cpath fill='%23f5d000' fill-rule='nonzero' d='M9.5186988 39.4839288c-2.6840562-1.9433238-6.4352886-1.3428414-8.3786124 1.3412148-1.9433235 2.6840562-1.3428411 6.4352886 1.3412148 8.3786121 9.3525342 6.7714683 17.0034069 17.3331054 23.2784994 31.2609084 2.1102066 4.6836822 8.7470073 4.722393 10.9117056.063645C48.902916 54.2045256 66.6390885 28.7605605 87.901944 10.5579417c2.5172817-2.1549843 2.810982-5.9426043.6559977-8.4598857-2.1549843-2.5172817-5.9426043-2.810982-8.4598857-.6559977-19.7336298 16.8934854-36.4349592 39.3558069-48.9384879 63.1692111-6.0176838-10.5136143-13.1379357-18.9710046-21.6408693-25.1273406z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__cover {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 0 0 30%;
    max-width: 30%;

    @media (min-width: $screen-sm) {
      flex: 0 0 100px;
      max-width: 100px;
    }
  }

  &__action-inner {
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 1rem;

    @media (min-width: $screen-sm) {
      flex: 0 0 calc(100% - 100px);
      max-width: calc(100% - 100px);
    }
  }

  &__desc {
    color: #f5d000;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    max-width: 17.5rem;

    @media (max-width: ($screen-sm - 1)) {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    background-color: #fff;
    background-image: none;
    color: $text-color;
    margin: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    font-weight: 700;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
    width: 100%;
    max-width: 210px;
  }
}