.s-breadcrumb {
  padding: 1rem;
  color: #585858;
  background-color: #f2f2f2;
  font-size: 0.875rem;
  line-height: 1.5rem;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '';
      width: 5px;
      height: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 5 8'%3E%3Cpath fill='%23585858' fill-rule='evenodd' d='M.146132 7.15864L3.61653 4.00452.146132.832977C-.322841.414751.446274-.299719.915247.135933L4.87338 3.70828c.16883.15683.16883.41823 0 .55763L.915247 7.87311c-.468972.41823-1.238088-.29624-.769115-.71447z' clip-rule='evenodd'/%3E%3C/svg%3E");
      display: inline-block;
      margin-left: 0.5rem;
      color: $gray;
    }
  }

  a {
    text-decoration: none;
    opacity: 0.5;
    color: currentColor;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 1;
    }
  }
}