.s-load-more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {

      .s-load-more__spinner {
        transform: rotate(360deg);
      }
    }
  }

  &__spinner {
    display: block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    background:
      linear-gradient(
        to right,
        rgba(#f5d000, 0.5) 0,
        rgba(#f5d000, 0.5) 50%,
        darken(#f5d000, 5%) 50%,
        darken(#f5d000, 5%) 100%);
    position: relative;
    transition: all 0.5s cubic-bezier(0.75,0,0,1.25);

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50%;
      display: block;
    }
  }
}