.s-page-header {
  padding: 1rem;
  background-color: $bg-color--darker;
  color: $gray-light;
  font-size: 0.813rem;
  line-height: 1.5rem;

  &__inner {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      align-items: flex-end;
    }
  }

  &__login {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: currentColor;

    @media (max-width: ($screen-sm - 1)) {
      max-width: 60px;
      font-size: .75rem;
      line-height: 1.25rem;
    }

    @media (min-width: $screen-sm) {
      width: 100%;
      max-width: 250px;
    }
  }

  &__login-link {
    display: inline-block;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    span {
      color: #f5d000;
    }
  }

  &__logo {

    @media (max-width: ($screen-sm - 1)) {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
  }

  &__search-form {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      width: 100%;
      max-width: 250px;
    }
  }

  &__slogan {
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    text-align: center;

    @media (min-width: $screen-sm) {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 1rem;
    }
  }

  &__hamburger {
    margin-left: auto;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}