mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      .s-page-header__login
        a.s-page-header__login-link(href='/')
          | Вход для
          span VIP
      +logo('/').s-page-header__logo
        img(src='img/logo.svg', alt='Betsmania logo', width='126', height='42')
      +hamburger('Show mobile menu', 'mobile-menu', 's-mobile-menu--is-shown').s-page-header__hamburger
      form.s-search-form.s-page-header__search-form
        input(type='search', placeholder='Поиск')
      strong.s-page-header__slogan Все о ставках на спорт и даже больше

