.s-articles {
  padding: 0 1rem 1rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 0 1rem 3rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.375rem;
    line-height: 1.5rem;
    color: #585858;
    text-transform: uppercase;
    padding-top: 1rem;

    @media (min-width: $screen-sm) {
      padding-top: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}