.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background-color: #f5d000;
  color: $text-color;
  will-change: transform;
  transform: translate3d(100%,0,0);
  transition: transform 0.3s cubic-bezier(0.4,0,0,1);
  padding: 1rem;

  &__header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#000, 0.25);
  }

  &__close {
    display: block;
    position: relative;
    background-color: darken(#f5d000, 50%);
    color: #f5d000;
    border-radius: 20px;
    width: 40px;
    height: 40px;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-40%,-50%,0);
      display: block;
      vertical-align: middle;
      fill: currentColor;
    }

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
    }
  }

  &__search-form {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(#000, 0.25);
    padding-bottom: 1rem;

    input {
      min-width: auto;
      width: 100%;
      height: 40px;
      padding: 0 1rem 0 2.5rem;
      background-color: darken(#f5d000, 10%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23303030' fill-rule='evenodd' d='M15.85 15.85a.5.5 0 01-.7 0l-5.02-5.07a.5.5 0 010-.71.5.5 0 01.7 0l5.02 5.07a.5.5 0 010 .71zM6.23 0A6.25 6.25 0 110 6.25 6.242 6.242 0 016.23 0zm0 .99A5.26 5.26 0 11.99 6.25 5.256 5.256 0 016.23.99z' data-name='search %5Blight%5D'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 1rem 50%;
      box-shadow:
        inset 0 0.05rem 0.05rem darken(#f5d000, 25%),
        0 0.05rem 0.05rem lighten(#f5d000, 25%)
      ;

      &::placeholder {
        color: $text-color;
      }
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(#000, 0.25);
    margin-bottom: 1rem;

    > li {
      margin: 0;
      padding: 0;
      position: relative;
      margin-bottom: 0.5rem;

      > ul {

        &.is-open {
          visibility: visible;
          opacity: 1;
          display: block;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }
      }

      > a {
        display: block;
        color: currentColor;
        position: relative;
        padding: 0.25rem 0;
        position: relative;
        text-decoration: none;

        &::after {
          position: absolute;
          content: '';
          right: 0.5rem;
          top: 50%;
          width: 0.5rem;
          height: 0.5rem;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          transform: translateY(-70%) rotate(45deg);
        }
      }

      > ul {
        color: currentColor;
        display: none;
        visibility: hidden;
        opacity: 0;
        margin: 0;

        > li {
          margin: 0;
          padding: 0;

          &::before {
            display: none;
          }

          > a {
            display: block;
            color: currentColor;
            padding: 0.25rem 0;
            opacity: 0.75;
          }
        }
      }
    }
  }

  &__contact-list {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      margin-bottom: 0.25rem;

      a {
        display: inline-block;
        color: currentColor;
        padding: 0.25rem 0;
      }
    }
  }

  &--is-shown {
    transform: translate3d(0,0,0);
  }
}