mixin mobile-menu()

  .s-mobile-menu

    .s-mobile-menu__header
      +logo('/')
        img(src='img/logo--only-text.svg', alt='Betsmania logo', width='126', height='17')
      .s-mobile-menu__close
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
          path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')

    form.s-search-form.s-mobile-menu__search-form
      input(type='search', placeholder='Поиск')

    ul.s-mobile-menu__nav-list
      li
        a(href='/') Школа ставок
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Прогнозы
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Ставки на спорт
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Бонусы
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Обучение
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Рубрики
        ul
          li: a(href='/') Lorem ipsum
          li: a(href='/') Lorem ipsum dolor sit
          li: a(href='/') Lorem ipsum dolor
      li
        a(href='/') Новичку

    ul.s-mobile-menu__contact-list
      li: a(href='tel:') +7 (812) 234-23-76
      li: a(href='mailto:') mail@betsmania.info
