.s-article {
  position: relative;

  &__title {
    padding: 1rem;
    background-color: #202020;
    color: #ebebeb;
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-align: center;
  }

  &__inner {
    max-width: 1440px;
    margin: auto;
    padding: 1rem;
    position: relative;
  }

  &__content {
    max-width: 940px;
    margin: auto;
  }

  &__aside {
    padding: 1rem 1rem 0 1rem;
    max-width: 940px;
    margin: auto;

    @media (min-width: $screen-xl) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 250px;
    }
  }

  &__aside-share {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(#000, 0.25);
  }

  &__aside-share-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }

  &__aside-share-item {
    margin: 0;
    padding: 0;
    display: flex;
    width: 24px;

    @media (max-width: ($screen-sm - 1)) {
      width: 50px;
      margin-right: 0.5rem;
    }

    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__aside-share-link {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    width: 100%;
    height: 100%;

    &--vkontakte {
      background-color: #48729e;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z'/%3E%3C/svg%3E");
    }

    &--facebook {
      background-color: #3b5998;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0014.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z'/%3E%3C/svg%3E");
    }

    &--odnoklassniki {
      background-color: #eb722e;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M11.674 6.536a1.69 1.69 0 00-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 001.688-1.687 1.69 1.69 0 00-1.688-1.688zm0 5.763a4.08 4.08 0 01-4.076-4.075 4.08 4.08 0 014.076-4.077 4.08 4.08 0 014.077 4.077 4.08 4.08 0 01-4.077 4.075zm-1.649 3.325a7.633 7.633 0 01-2.367-.98 1.194 1.194 0 011.272-2.022 5.175 5.175 0 005.489 0 1.194 1.194 0 111.272 2.022 7.647 7.647 0 01-2.367.98l2.279 2.28a1.194 1.194 0 01-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 11-1.689-1.689l2.279-2.279'/%3E%3C/svg%3E");
    }

    &--twitter {
      background-color: #00aced;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M20 7.539a6.56 6.56 0 01-1.885.517 3.294 3.294 0 001.443-1.816 6.575 6.575 0 01-2.085.796 3.283 3.283 0 00-5.593 2.994A9.32 9.32 0 015.114 6.6a3.28 3.28 0 001.016 4.382 3.274 3.274 0 01-1.487-.41v.041a3.285 3.285 0 002.633 3.218 3.305 3.305 0 01-1.482.056 3.286 3.286 0 003.066 2.28A6.585 6.585 0 014 17.524 9.291 9.291 0 009.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0020 7.538z'/%3E%3C/svg%3E");
    }
  }

  &__aside-help {
    padding: 1rem 0;

    b,
    span {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}