.s-page-footer {
  padding: 1rem;
  background-color: $bg-color--darker;
  color: $gray-light;
  font-size: 0.813rem;
  line-height: 1.5rem;

  &__inner {
    max-width: 1240px;
    margin: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__group {

    &:not(:first-child) {

      @media (max-width: ($screen-sm - 1)) {
        padding-top: 1rem;
        border-top: 1px solid rgba($gray-light, 0.1);
      }
    }

    &--nav {

      @media (max-width: ($screen-sm - 1)) {
        padding-bottom: 1rem;
      }

      @media (min-width: $screen-sm) {
        padding-right: 1rem;
        flex: 0 0 30%;
        max-width: 30%;
      }

      @media (min-width: $screen-md) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &--contacts {

      @media (max-width: ($screen-sm - 1)) {
        padding-bottom: 1rem;
      }

      @media (min-width: $screen-sm) {
        padding-right: 1rem;
        flex: 0 0 30%;
        max-width: 30%;
      }

      @media (min-width: $screen-md) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &--privacy {
      line-height: 1.125rem;

      @media (min-width: $screen-sm) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      @media (min-width: $screen-md) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      span {
        display: inline-block;

        &:not(:last-child) {
          margin-bottom: 1rem;

          @media (min-width: $screen-md) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
        text-transform: uppercase;
      }
    }
  }

  &__feedback {
    margin-bottom: 1.5rem;

    a {
      color: currentColor;
      display: inline-block;
      color: lighten($gray-light, 20%);
    }
  }

  &__feedback-title {
    text-transform: uppercase;
    color: currentColor;
    margin-bottom: 0.25rem;
    font-weight: 400;
  }

  &__designed {

    span {
      color: darken($gray-light, 10%);
      display: inline-block;
      text-indent: -0.2rem;
    }
  }
}