mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .s-page-footer__group.s-page-footer__group--nav
        ul.s-page-footer__list
          li: a(href='/') Политика конфиденциальности
          li: a(href='/') Отказ от собственности
          li: a(href='/') Согласие с рассылкой
          li: a(href='/') Карта сайта

      .s-page-footer__group.s-page-footer__group--contacts
        .s-page-footer__feedback
          h3.s-page-footer__feedback-title Обратная связь
          a(href='mailto:mail@betsmania.ru') mail@betsmania.ru
        .s-page-footer__designed
          | Designed by vlad
          span dark

      .s-page-footer__group.s-page-footer__group--privacy
        span 2019 © BETSMANIA — Прогнозы и Ставки на спорт для новичков и профессионалов.
        span Копирование материалов разрешается только с указанием dofollow-ссылки, или мы найдём вас и пожалуемся Яндексу и Гуглу, чтобы Вас забанили в поиске. Успехов!