.s-table-of-contents {
  border: 2px solid $text-color;
  margin: 1rem 0;

  &__btn {
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
    }

    &[aria-expanded='true'] {

      &::after {
        transform: translate3d(0,-50%,0) rotate3d(0,0,1,180deg);
      }
    }

    &::after {
      position: absolute;
      content: '';
      right: 1rem;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-size: 13px 8px;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 9 6'%3E%3Cpath fill='%23262D3D' fill-rule='evenodd' d='M1.34136.646132L4.49548 4.11653 7.66702.646132c.41823-.468973 1.1327.300143.69705.769118L4.79172 5.37338c-.15683.16883-.41823.16883-.55763 0L.626888 1.41525C.208662.946275.923131.177159 1.34136.646132z' clip-rule='evenodd'/%3E%3C/svg%3E");
      top: 50%;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      transform: translate3d(0,-50%,0);
      transition: transform 0.5s cubic-bezier(0.8,0,0,1.5);
    }
  }

  &__content {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: calc(100% - 2rem);
      left: 1rem;
      height: 1px;
      top: 0;
      background-color: rgba(#000, 0.25);
    }
  }

  &__content-inner {
    padding: 1rem;
  }
}