mixin table-of-contents()

  .s-table-of-contents
    a.s-table-of-contents__btn(data-toggle='collapse', href='#contents', role='button', aria-expanded='false', aria-controls='contents') Содержание
    #contents.s-table-of-contents__content.collapse
      .s-table-of-contents__content-inner
        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
