extends pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +main-nav()
  +mobile-menu()

block content
  .s-articles
    .s-articles__inner
      .row
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Расшифровка событий для ставок на спорт',
            'Терминология',
            'https://images.unsplash.com/photo-1516958693239-11bdcbc9c64e?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Финансовая стратегия для ставок на спорт',
            'Стратегии',
            'https://images.unsplash.com/photo-1547347298-4074fc3086f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Как правильно делать ставки на футбол',
            'Обучение',
            'https://images.unsplash.com/photo-1485388276992-0ce5ce2d6981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Стретегия послегол: плюсы и минусы',
            'Стратегии',
            'https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Расшифровка событий для ставок на спорт',
            'Терминология',
            'https://images.unsplash.com/photo-1517649763962-0c623066013b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Финансовая стратегия для ставок на спорт',
            'Стратегии',
            'https://images.unsplash.com/photo-1541252260730-0412e8e2108e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Как правильно делать ставки на футбол',
            'Обучение',
            'https://images.unsplash.com/photo-1554454019-8a165b8a3bd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Стретегия послегол: плюсы и минусы',
            'Стратегии',
            'https://images.unsplash.com/photo-1491911923017-19f90d8d7f83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Расшифровка событий для ставок на спорт',
            'Терминология',
            'https://images.unsplash.com/photo-1518459031867-a89b944bffe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Финансовая стратегия для ставок на спорт',
            'Стратегии',
            'https://images.unsplash.com/photo-1543351611-58f69d7c1781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Как правильно делать ставки на футбол',
            'Обучение',
            'https://images.unsplash.com/photo-1498137718264-3b05ac1d1b2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Стретегия послегол: плюсы и минусы',
            'Стратегии',
            'https://images.unsplash.com/photo-1554331468-3d4032983519?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Расшифровка событий для ставок на спорт',
            'Терминология',
            'https://images.unsplash.com/photo-1516283250450-174387a1af6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Финансовая стратегия для ставок на спорт',
            'Стратегии',
            'https://images.unsplash.com/photo-1570655884578-7720b7b9dbfb?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Как правильно делать ставки на футбол',
            'Обучение',
            'https://images.unsplash.com/photo-1509032502697-5167f3fa0cdb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )
        .col-12.col-sm-6.col-md-4.col-lg-3
          +article-card(
            'Стретегия послегол: плюсы и минусы',
            'Стратегии',
            'https://images.unsplash.com/photo-1490108474814-221f6198acc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'
          )

      +load-more()

      +pagination()
        +pagination-item('', '/1', '', true)
        +pagination-item('...')
        +pagination-item('4', '/4')
        +pagination-item('5', '', true)
        +pagination-item('6', '/6')
        +pagination-item('...')
        +pagination-item('', '/999', '', '', true)

  +subscription()

block footer
  +page-footer()