.s-search-form {

  input {
    height: 30px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23cfcfcf'%3E%3Cpath d='M44.5 80.5c9.09 0 17.33-3.7 23.31-9.66l15.7 13.91c.57.51 1.28.75 1.99.75.83 0 1.65-.34 2.25-1.01 1.1-1.24.98-3.14-.26-4.23L71.65 66.23c3.68-5.32 5.85-11.78 5.85-18.73 0-18.2-14.8-33-33-33s-33 14.8-33 33 14.8 33 33 33zm0-60c14.89 0 27 12.11 27 27s-12.11 27-27 27-27-12.11-27-27 12.11-27 27-27z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0.5rem 49%;
    border-radius: 60px;
    border: 0;
    background-color: #1a1b1c;
    color: currentColor;
    padding: 0 1rem 0 2rem;
    box-shadow:
      inset 0 0.05rem 0.05rem darken(#1a1b1c, 10%),
      0 0.05rem 0.05rem lighten(#1a1b1c, 10%)
    ;
    font-size: 0.75rem;
    line-height: 1.5rem;

    &::placeholder {
      text-transform: uppercase;
    }
  }
}